.skills .skills__content ul li .image-container {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  position: relative; /* Para fazer a borda lateral */
}

.skills .skills__content ul li .image-container::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -5px; /* Ajuste o valor para a espessura da borda lateral */
  right: -5px;
  border-left: 5px solid var(--primary-color); /* Cor da borda esquerda */
  border-right: 5px solid var(--primary-color); /* Cor da borda direita */
  transition: all 0.3s ease; /* Animação suave */
}

.skills .skills__content ul li .image-container:hover::before {
  border-left-color: var(--secondary-color); /* Cor da borda ao passar o mouse */
  border-right-color: var(--secondary-color);
}
